In [75]:
import pandas as pd

In [76]:
import numpy as np

In [77]:
from bs4 import BeautifulSoup

In [78]:
import requests

In [79]:
url = "https://www.iplt20.com/auction/2022"
r = requests.get(url)
#print(r)

In [80]:
soup = BeautifulSoup(r.text,"lxml")

In [81]:
table = soup.find("table", class_ = "ih-td-tab w-100 auction-tbl")
title = table.find_all("th")
#print(title)
#print(table)
header = []
for i in title:
    name = i.text  # Use .strip() to clean whitespace
    header.append(name)
#print(header)

In [82]:
df=pd.DataFrame(columns=header)
#print(df)

In [83]:
# Option 1: Add None check with fallback
rows = table.find_all("tr")
for i in rows[1:]:
    first_td_element = i.find_all("td")[0].find("div", class_="ih-pt-ic")
    if first_td_element:
        first_td = first_td_element.text.strip()
    else:
        # Fallback: get text from the td directly or use alternative selector
        first_td = i.find_all("td")[0].text.strip()
    
    data = i.find_all("td")[1:]
    row = [tr.text.strip() for tr in data]
    row.insert(0, first_td)
    df.loc[l] = row
    l+= 1  # Don't forget to increment l

print(df)

   SR. NO.                         TEAM FUNDS REMAINING OVERSEAS PLAYERS   \
21       1          Chennai Super Kings    ₹2,95,00,000                 8
22       2               Delhi Capitals      ₹10,00,000                 7
23       3               Gujarat Titans      ₹15,00,000                 8
24       4        Kolkata Knight Riders      ₹45,00,000                 8
25       5         Lucknow Super Giants              ₹0                 7
26       6               Mumbai Indians      ₹10,00,000                 8
27       7                 Punjab Kings    ₹3,45,00,000                 7
28       8             Rajasthan Royals      ₹95,00,000                 8
29       9  Royal Challengers Bangalore    ₹1,55,00,000                 8
30      10          Sunrisers Hyderabad      ₹10,00,000                 8

   TOTAL PLAYERS
21            25
22            24
23            23
24            25
25            21
26            25
27            25
28            24
29            22
30            23

In [84]:
df.to_csv("ipl auction stats.csv")